.serv {
  background-color: transparent;
  width: 100%;
  font-family: "Baloo Da 2";
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}
.title-serv {
  font-weight: 800;
  margin: 3rem 0rem 0.5rem;
  font-size: 28px;
  z-index: 100;
}
.text-serv {
  font-weight: 400;
  font-family: "Poppins";
  font-size: 16px;
  margin: 0rem 1rem 2rem 1rem;
  z-index: 100;
}

.cards-serv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  z-index: 1;
}

.card {
  width: 243px;
  height: 250px;
  border: 1px solid #f5f5f5;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  
}
.card:hover{
    scale: (1.1);
}
.wsp-img {
  color: #f08a1d;
  height: 40px;
  width: 40px;
}

.cake-img {
  color: #f08a1d;
  height: 50px;
  width: 40px;
}

.buy-img {
  color: #f08a1d;
  height: 35px;
  width: 58px;
}

.delivery-img {
  color: #f08a1d;
  height: 37px;
  width: 57px;
}

.btn-serv {
  height: 40px;
  width: 210px;
  background: linear-gradient(90deg, #FE8C00 0%, #F83600 100%);
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
  border: transparent;
  border-radius: 31px;
  text-align: center;
  margin: 1rem;
}

.btn-serv:hover {
  transform: scale(1.1);
}

.btn-serv > h3 {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 38px;
  color: #fff;
}

/*responsive*/

@media (min-width: 424px) {
  .title-serv {
    font-size: 34px;
  }
  .text-serv {
    font-size: 20px;
    margin: 0rem 2rem 4rem 2rem;  
  }
  
  .cards-serv {
    font-size: 18px;
  }
  
  .card {
    width: 273px;
    height: 280px;
  }
}


@media (min-width: 767px) {
  .title-serv {
    font-size: 44px;
  }
  .text-serv {
    font-size: 22px;
    margin-bottom: 5%;  
  }
  
  .cards-serv {
    justify-content: space-evenly;    
    font-size: 18px;
    }
    .card {
      width: 273px;
      height: 280px;
    }
  
  .wsp-img {
    height: 50px;
    width: 50px;
  }
  
  .cake-img {
    height: 60px;
    width: 50px;
  }
  
  .buy-img {
    height: 45px;
    width: 68px;
  }
  
  .delivery-img {
    height: 47px;
    width: 67px;
  }
  
  .btn-serv {
    height: 48px;
    width: 225px;
    margin-top: 5%;
  }
  
  .btn-serv > h3 {
    font-size: 18px;
    line-height: 46px;
  }
}

@media (min-width: 1024px) {
  .serv{padding-top: 100px;}

  .title-serv {
    font-size: 48px;
  }
  .text-serv {
    font-size: 26px;
    margin-bottom: 5%;  
  }
  
  .cards-serv {
    justify-content: space-evenly;    
    font-size: 16px;
    }
    .card {
      width: 233px;
      height: 250px;
      padding: 0.5rem;
    }
  
  .btn-serv {
    height: 48px;
    width: 225px;
    margin-top: 5%;
  }
  
  .btn-serv > h3 {
    font-size: 18px;
    line-height: 46px;
  }
}

@media (min-width: 1440px) {
  .serv{padding-top: 100px;}

  .title-serv {
    font-size: 56px;
  }
  .text-serv {
    font-size: 30px;
    margin-bottom: 5%;  
  }
  
  .cards-serv {
    justify-content: space-evenly;    
    font-size: 20px;
    }
    .card {
      width: 283px;
      height: 300px;
      padding: 1rem;
    }
  
  .btn-serv {
    height: 60px;
    width: 285px;
    margin-top: 5%;
  }
  
  .btn-serv > h3 {
    font-size: 22px;
    line-height: 48px;
  }
  
}


@media (min-width: 1800px) {
  .card {
    width: 400px;
    height: 350px;
  }
  .card:hover{
    transform: scale(1.1);
  }
  .btn-serv{
    width: 290px;
    height: 50px;
  }
}
