

.serv {
    background-color: transparent;
    width: 100%;
    height: auto;
    font-family: 'Baloo Da 2';
}


.cards-serv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 303px;
    height: 298px;
    border: 1px solid #f5f5f5;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.wsp-img{
    height: 76px;
    width: 76px;
}