.prodserv {
  position: relative;
  background-image: url(../../Assets/Img/background\ center.png);
  background-size: 100%;
  z-index: 1;
}
.prd-img {
  height: 100%;
  z-index: 5;
}

.prodhead{
  position: absolute;
  height: auto;
  width: 100%;
  left: 0px;
  top: -50px;
  z-index: 1;
}

.prodbot{
  position: absolute;
  height: auto;
  width: 100%;
  left: 0px;
  top: 2095px;
  z-index: -1;
}

/*Responsive */



@media (min-width: 370px) {
  .prodhead{
    bottom: 100px;
  }
  .prodbot{
    top: 2250px;
    z-index: -1;
  }
}

@media (min-width: 425px) {
  .prodhead{
    bottom:  10px;
  }
  
  .prodbot{
    top: 2470px;
  }
}

@media (min-width: 767px) {
  .prodhead{
    top: -135px;
  }
  .prodbot{
    top: 2150px;
  }
}

@media (min-width: 1020px) {
  .prodhead{
    top: -120px;
  }
  .prodbot{
    top: 1900px;
  }
  
}
@media (min-width: 1440px) {
  .prodhead{
    top: -260px;
  }
  .prodbot{
    top: 1370px;
  }
}
@media (min-width: 1800px) {
  .prodserv{
    height: 1500px;
  }
  
  .prodhead{
    top: -330px;
  }
  .prodbot{
    top: 1490px;
  }

}
