.prodserv {
  height: 1500px;
  position: relative;
  background-image: url(../../Assets/Img/backcomponent.png);
  background-size: contain;
  background-position: 50px -200px;
  z-index: 1;
}
.prd-img {
  height: 100%;
  z-index: 5;
}


