.about{
    background: #8E8E8E;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

.title-about{
    color: #fff;
    font-weight: 800;
    font-family: 'Baloo Da 2';
    margin-bottom: 2.5%;
    font-size: 28px;
    margin-top: 25%;       
}

.text-about{
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: 1.6rem;
    font-size: 16px;
    text-align: justify;  
    margin: 0rem 1rem 0rem 1rem;   
}

.btn-about{
    height: 40px;
    width: 255px;
    background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
    box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.22);
    border: transparent ;
    border-radius: 31px;
    text-align: center;
    margin:  2rem 0rem 3rem;   
}

.btn-about:hover{
    transform: scale(1.1);  
} 

.btn-about > h2 {
    font-size: 16px;
    font-family: "Avenir";
    font-weight: 800;
    margin-right: 0.3rem;
    color: #fff;
    line-height: 36px;
}

.btn-icono{
    width: 16px;
    height: 22px;
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.4rem;
}



/* Responsive*/
@media (min-width: 424px){
    .title-about{
        font-size: 32px;
        margin-top: 32%;       
    }
    
    .text-about{
        font-size: 18px;
        margin: 0rem 1.5rem 0rem 1.5rem;   
    }
    
}

@media (min-width: 765px){
    .about{
        margin-top: 130px;
    }
}

@media (min-width: 1024px){
    .about{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    .text-about{
        text-align: justify;
        height: 150px;
        
    }
}
@media (min-width: 1440px){
    .about{
        margin-top: 0px;
    }
    .text-about{
        text-align: left;
    }
}
@media (min-width: 1920px){
    .about{
        margin-top: 150px;
        
        height: 1000px;
    }
    .btn-about{
        margin-bottom: 150px;
    }
    .text-about{
        margin-left: 660px;
        width: 30%;
        text-align: center;
        

    }
}