.about{
    background: #8E8E8E;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

.title-about{
    color: #fff;
    font-weight: 800;
    font-family: 'Baloo Da 2';
    margin-bottom: 2.5%;
    font-size: 28px;
    margin-top: 20%;       
}

.text-about{
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: 1.6rem;
    font-size: 16px;
    text-align: left;
    padding: 1rem;  
    
}

.btn-about{
    height: 46px;
    width: 255px;
    background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
    border: transparent;
    border-radius: 17px;
    text-align: center;
    margin:  0rem 0rem 5rem;   
}

.btn-about:hover{
    transform: scale(1.1);  
} 

.btn-about > h2 {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
    margin-right: 0.6rem;
    color: #fff;
    line-height: 45px;
    
}

.btn-icono{
    width: 16px;
    height: 22px;
    float: left;
    margin-left: 0.8rem;
    margin-top: 0.7rem;
}



/* Responsive*/
@media (min-width: 424px){
    .title-about{
        font-size: 34px;
        margin-top: 32%;       
    }
    
    .text-about{
        font-size: 20px;
           
    }
    
}

@media (min-width: 765px){
    .about{
        
        height: 700px;
        
    }
    .title-about{
        font-size: 44px;
        margin-top: 15%;       
    }
    
    .text-about{
        font-size: 22px;
        line-height: 1.6;
        padding: 0rem 1.5rem 0rem 1.5rem;
           
    }
    .btn-about {
        height: 48px;
        width: 285px;
        margin-top: 10%;
        
      }
      
      .btn-about > h2 {
        font-size: 16px;
        line-height: 46px;
        
      }
      .btn-icono{
        width: 18px;
        height: 24px;
    }
}

@media (min-width: 1024px){
    .about{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    .text-about{
        text-align: justify;
        height: 150px;
        
    }
}
@media (min-width: 1440px){
    .about{
        margin-top: 0px;
    }
    .text-about{
        text-align: left;
    }
}
@media (min-width: 1920px){
    .about{
        margin-top: 150px;
        
        height: 1000px;
    }
    .btn-about{
        margin-top: 210px;
    }
    .text-about{
        margin-left: 660px;
        width: 30%;
        text-align: center;
        margin-bottom: 60px;
    }
}