.nav-bar{
    z-index: 1000;
    display: flex;
    align-items: baseline;
    box-shadow: 1px 1px  3px black;
}
.logo{
    margin-left: 10px;
}


.me-auto {
  margin-right: 0;
  display: flex;
}
.navs-title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.btn-nav {
  width: 192px;
  height: 62px;
  background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
  border-radius: 31px;
  border: 1px solid white;
}

.btn-nav > h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
