a {
  cursor: pointer;
}
.nav-bar {
  z-index: 1000;
  display: flex;
  background-color: transparent !important;
  font-family: "Poppins";
  text-transform: uppercase;
  justify-content: center;
  height: auto;
  
}
/*animacion navbar*/

header{
  transition: 0.7s;
}

header.abajo .nav-bar {
  backdrop-filter: blur(10px);
  transition: 0.7s;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
}

header.abajo .share{
  display: none;
}
header.abajo .logo{
  margin-right: 0px;
} 

/*----------------------*/


.navbar-collapse {
  display: none;
}

.navbar-toggler {
  display: none;
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

.logo {
  width: 67px;
  height: 34px;
  
}
.share{
  position: relative;
}

.navs-title {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 42px;
  margin-left: 10px;
  color: #fff;
}
.navs-title:hover {
  color: #383838;
  cursor: pointer;
}

.btn-nav {
  width: 190px;
  height: 40px;
  background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
  border: transparent;
  border-radius: 31px;
  margin-right: 2rem;
  display: none;
}
.btn-nav:hover {
  transform: scale(1.1);
}

.btn-nav > h2 {
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}

/*Responsive */

@media (min-width: 768px) {
 
  .logo {
    width: 120px;
    height: 70px;
  }
}

@media (min-width: 1024px) {
  .nav-bar {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    margin-right: 0px;
  }
  .logo {
    width: 150px;
    height: 70px;
    margin-left: 40px;
  }
  .btn-nav {
    display: block;
  }
  .share {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
  }
  .navs-title{
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .abajo,
  .nav-bar {
    background-color: red;
  }
  .navs-title{
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  .navs-title{
    font-size: 20px;
  }
}
