.nav-bar{
    z-index: 1000;
    display: flex;
    background-color: transparent !important;
    font-family: 'Poppins';
    text-transform: uppercase;
    justify-content: center;    
    flex-direction: row-reverse;
}


#basic-navbar-nav{
    justify-content: center;
    background: #fff;
   
    
    
}
.navbar-toggler-icon{
  width: 20px;
  height: 20px;
  
}

.logo{
    margin-left: 2rem;
    width: 67px;
}
 

.navs-title {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 42px;
  color: #f29400;
 
}
.navs-title:hover{
  color: #383838;
  cursor: pointer;
}

.btn-nav {
  width: 190px;
  height: 40px;
  background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
  border: transparent ;
  border-radius: 31px;
  margin-right: 2rem;
  display: none;
}
.btn-nav:hover{
  transform: scale(1.1);
  
} 

.btn-nav > h2 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}


/*Responsive */

 
@media (min-width: 1024px) {
 .nav-bar{
  flex-direction: row;
 }
 .logo{
  width: 180px;
 }
 .btn-nav{
  display: block;
 }
}
