
.scroll-img{
    display: none;
    cursor: pointer;
    z-index: 1000;
    height: 70px;
    position: absolute;
    right: 40px;
    top: 3410px;
}

@media (min-width: 1920px){
    .scroll-img{
        display: block;
    }
}
