.foot{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #383838
    
}
.logo-foot{
    width: 179px;
    height: 80px;
}

.icon-ig{
    margin-right: 1rem;
}

.icon-wsp{
    margin-left: 1rem;
}
.copyR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}