.slide{
    z-index: -1;
    height: 260px;
   
}

.img{
    height: 34vh;
    width: 100%;
}
.carousel-indicators{
    display: none;
}


/*
    responsive
*/


@media (min-width: 767px){
    .slide{
        height: 460;
    }
    .img{
        height: 68vh;
    }
}
 
@media (min-width: 1024px) {
    .slide{
        height: 37rem;
    }
    .img{
        height: 38rem;
        width: 100%;
        
    }
    .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
  .carousel-indicators{
    display: none;
  }
}
@media (min-width: 1800px){
    .slide{
        height: auto;
    }
    .img{
        height: 65rem;
    }
}
